@font-face {
  font-family: Noto-Sans-JP;
  src: url(src/css/fonts/NotoSansJP-Thin.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Noto-Sans-JP;
  src: url(src/css/fonts/NotoSansJP-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Noto-Sans-JP;
  src: url(src/css/fonts/NotoSansJP-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Noto-Sans-JP;
  src: url(src/css/fonts/NotoSansJP-Medium.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Noto-Sans-JP;
  src: url(src/css/fonts/NotoSansJP-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Noto-Sans-JP;
  src: url(src/css/fonts/NotoSansJP-Black.otf);
  font-weight: 900;
  font-style: normal;
}
